<.container>
  <div class="mb-8">
    <.button link_type="live_redirect" to="backpacks/new" color="primary">
      <Heroicons.Solid.plus class="w-5 h-5 mr-2" />
      <%= gettext("Create backpack") %>
    </.button>
  </div>
  <.grid backpacks={@backpacks} />
</.container>
