<%= if @current_user do %>
  <.container wide>
    <.subheader>
      <%= gettext("Next travels") %>
    </.subheader>
    <.grid trips={@next_plans} />
    <.subheader>
      <%= gettext("Last travels") %>
    </.subheader>
    <.grid trips={@last_plans} />
  </.container>
<% else %>
  <.container>
    <.header class="my-6">Welcome to hamster travel!</.header>
    <p>
      Please
      <.ht_link href={~p"/users/log_in"}>login.</.ht_link>
    </p>
  </.container>
<% end %>
