# Install as /home/marvin/Work/hamster-travel-production/database.env with mode
# 0600. Keep backup and application AWS credentials out of this file.
POSTGRES_USER=hamster_travel
POSTGRES_PASSWORD=REPLACE_ME
POSTGRES_DB=hamster_travel
