<%= if @current_user do %>
  <.container wide>
    <.subheader>
      <%= gettext("Next travels") %>
    </.subheader>
    <.grid plans={@next_plans} />
    <.subheader>
      <%= gettext("Last travels") %>
    </.subheader>
    <.grid plans={@last_plans} />
  </.container>
<% else %>
  <.container>
    <.header class="my-6">Welcome to hamster travel!</.header>
    <p>Please <.link type="a" to="/users/log_in">login</.link> to see your travels.</p>
  </.container>
<% end %>
