<.container wide class="p-6 mt-6">
  <.subheader>
    <%= gettext("Next travels") %>
  </.subheader>
  <.grid plans={@next_plans} />
  <.subheader>
    <%= gettext("Last travels") %>
  </.subheader>
  <.grid plans={@last_plans} />
</.container>
