name: pipeline-hamster-travel-cd

on:
  push:
    branches: ['master']

permissions:
  contents: read

env:
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  MIX_ENV: test
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  test:
    name: job-hamster-travel-test-before-deploy
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: 'trust'
        ports: ['5432:5432']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.16.0'
          otp-version: '26.2.1'

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Restore build cache
        uses: actions/cache@v4
        id: build-cache
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Install dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Compile Dependencies
        if: steps.build-cache.outputs.cache-hit != 'true'
        run: mix compile

      - name: Setup database
        run: mix ecto.setup

      - name: Run tests
        run: mix test
  deploy:
    name: job-hamster-travel-deploy
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - uses: superfly/flyctl-actions@1.1
        with:
          args: 'deploy'
