name: pipeline-hamster-travel-ci

on:
  pull_request:
    branches: ['master']

permissions:
  contents: read

env:
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  MIX_ENV: test

jobs:
  test:
    name: job-hamster-travel-test-lint
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: 'trust'
        ports: ['5432:5432']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.16.0'
          otp-version: '26.2.1'

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - name: Restore build cache
        uses: actions/cache@v4
        id: build-cache
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Install dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Compile Dependencies
        if: steps.build-cache.outputs.cache-hit != 'true'
        run: mix compile

      - name: Run linter
        run: mix credo

      - name: Setup database
        run: mix do ecto.create, ecto.migrate

      - name: Run tests
        run: mix test
